/*ul.white li a i { color:#fff;}
ul.white .profilename a {color:#fff;}
ul.white .open > a, ul.white .open > a:focus, ul.white .open > a:hover { background:none;}
ul.white .dropdown-menu-body ul li a  { color:#444; /*padding:12px 10px;}
ul.white .dropdown-menu-body ul li a h5 { margin:0;}
ul.white .dropdown-menu-body ul li a:hover { color:#fff; background:#27a7df;}
ul.white .dropdown-menu-body ul li:last-child a { border-bottom:none;}
ul.white .dropdown-menu-body ul li { padding:0;}*/

.no_rec_section { display:block; position:relative;pointer-events: none;}
.no_rec_section .section-middle-right-project,.no_rec_section .review-detail { opacity:0.2;}
.no_data_msg { text-align:center; position:absolute; left:0; top:8%; width:100%; padding:10px 10px 0px; display:block; margin-top:70px; font-size:18px; font-weight:700; background:rgba(39, 167, 223, 0.7); color:#fff;}
.section-middle-right .no_rec_section .profileimage { left:0;}

.no_data_static { text-align:center; width:100%; padding:10px; display:block; font-size:18px; font-weight:700; background:rgba(39, 167, 223, 0.7); color:#fff; margin:10px 0;}

.toast-top-right{top:75px;}

.dropdown-menu-body ul li{padding-bottom:0px;}
.dropdown-menu-body ul li:last-child{margin-top:0px;padding-bottom:0px;}
.dropdown-menu-body ul li.unread {padding-bottom:0px; background-color: #eeeeee;}

/*loader start*/
.cssload-square {
	margin: 88px auto;
	width: 25px;
	height: 25px;
	bottom: -60px;
	position:absolute;
	left:0;
	right:0;
	transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
}

.cssload-square-part {
	position: absolute;
	width: 25px;
	height: 25px;
	z-index: 1;
	animation: cssload-part-anim 1.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
		-o-animation: cssload-part-anim 1.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
		-ms-animation: cssload-part-anim 1.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
		-webkit-animation: cssload-part-anim 1.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
		-moz-animation: cssload-part-anim 1.4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.cssload-square-green {
	background: rgb(117,81,125);
	right: 0;
	bottom: 0;
	animation-direction: alternate-reverse;
		-o-animation-direction: alternate-reverse;
		-ms-animation-direction: alternate-reverse;
		-webkit-animation-direction: alternate-reverse;
		-moz-animation-direction: alternate-reverse;
}

.cssload-square-pink {
	background: rgb(39,167,223);
	left: 0;
	top: 0;
}

.cssload-square-blend {
	background: rgb(221,221,221);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	animation: blend-anim 1.4s ease-in infinite;
		-o-animation: blend-anim 1.4s ease-in infinite;
		-ms-animation: blend-anim 1.4s ease-in infinite;
		-webkit-animation: blend-anim 1.4s ease-in infinite;
		-moz-animation: blend-anim 1.4s ease-in infinite;
}





@keyframes blend-anim {
	0% {
		transform: scale(0.01, 0.01) rotateY(0);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		transform: scale(1, 1) rotateY(0);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-o-keyframes blend-anim {
	0% {
		-o-transform: scale(0.01, 0.01) rotateY(0);
		-o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-o-transform: scale(1, 1) rotateY(0);
		-o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-o-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-ms-keyframes blend-anim {
	0% {
		-ms-transform: scale(0.01, 0.01) rotateY(0);
		-ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-ms-transform: scale(1, 1) rotateY(0);
		-ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-ms-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-webkit-keyframes blend-anim {
	0% {
		-webkit-transform: scale(0.01, 0.01) rotateY(0);
		-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-webkit-transform: scale(1, 1) rotateY(0);
		-webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-webkit-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-moz-keyframes blend-anim {
	0% {
		-moz-transform: scale(0.01, 0.01) rotateY(0);
		-moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-moz-transform: scale(1, 1) rotateY(0);
		-moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-moz-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@keyframes cssload-part-anim {
	0% {
		transform: translate3d(-13px, -13px, 0);
	}
	100% {
		transform: translate3d(13px, 13px, 0);
	}
}

@-o-keyframes cssload-part-anim {
	0% {
		-o-transform: translate3d(-13px, -13px, 0);
	}
	100% {
		-o-transform: translate3d(13px, 13px, 0);
	}
}

@-ms-keyframes cssload-part-anim {
	0% {
		-ms-transform: translate3d(-13px, -13px, 0);
	}
	100% {
		-ms-transform: translate3d(13px, 13px, 0);
	}
}

@-webkit-keyframes cssload-part-anim {
	0% {
		-webkit-transform: translate3d(-13px, -13px, 0);
	}
	100% {
		-webkit-transform: translate3d(13px, 13px, 0);
	}
}

@-moz-keyframes cssload-part-anim {
	0% {
		-moz-transform: translate3d(-13px, -13px, 0);
	}
	100% {
		-moz-transform: translate3d(13px, 13px, 0);
	}
}
/*loader end*/