@media screen and (max-width: 1190px) {
	.section-head-bg{background-color:#484e5a; background-image:none; text-align:center;}
	.section-head-bg .col-sm-6{width:100%;}
	.customer-profile-detail{text-align:center; position:relative; display:inline-block;}
	.customer-profile-detail img{left:0;}
	.drp-toggle{margin-top:0px;}
	.drp-toggle::before{background-color:transparent !important;}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, 	 	.navbar-default .navbar-nav > .open > a:hover {background-color: transparent;border: none;}
	.search-fieldset .search-btn { width:95px;}
	.search-fieldset .form-control { padding-right:100px;}
	.search .bootstrap-select.btn-group .dropdown-toggle .filter-option { font-size:14px;}

	.header_menu .navbar-nav > li > a {font-size:13px;}
	.header_menu .nav-responc > li {padding-left:5px; padding-right:5px;}
	.navbar-brand > img {width:130px;}
	.navbar-form .form-group {width:220px;} 
	.sectionwallet-right-border {display:none;}
	.section-wallet-left { width:100%; margin-bottom:5px;}
	.section-wallet-right { width:100%; padding-left:0; margin-top:0; margin-bottom:20px;}
	.sort-form select.form-control, .sort-form .bootstrap-select.form-control:not([class*="col-"]) { width:140px;}
	.sticky .navbar-right-new { margin-top:0;}
	.banner_text .btn_blue .fa { top:16px;}
	.bootstrap-select.btn-group .dropdown-menu { margin-top:5px;}
	.image-pattern { left:0;}
	.verifiication-section-desc-part i.fa-linkedin, .verifiication-section-desc-part i.fa-google-plus, .verifiication-section-desc-part i.fa-facebook-f { font-size:19px;}
	.verifiication-section-desc-part .gplus, .verifiication-section-desc-part .fb, .verifiication-section-desc-part .linkedin, .verifiication-section-desc-part .linkedin:hover { padding-left:35px;}
	.fb-connect { margin-left:16px;}
	.verify-link {right:15px;}
	.files .name {white-space:normal;}
	.drp-file { white-space:normal;}
	.redeem-history-table .hist-tables .th { padding:5px;}
	.redeem-history-table .hist-tables .td { padding:5px;}
	.section-redeem-header a { position:relative; right:0;}
	.section-middle .top_skills_all .top_skills h4 { font-size:17px;}
	.staticks .statick-box { padding:20px 2px 25px}
	.staticks .icon { font-size:50px; line-height:50px; min-height:55px;}
	.staticks h3 { font-size:28px;}
	.staticks h4 { font-size:11px; margin-top:10px;letter-spacing: -0.2px;}
	.item.active { height:auto;}
    .banner_text{bottom: 70px;}
    .banner_text h1 {margin-bottom: 15px;}
    .header_menu .navbar-nav>li a.header_btn {padding: 4px 8px;}
    .header_menu .nav-responc {float: left; margin:2px 0 0 10px; }
    .search{margin-left: 10%;}
    .langdrpdwn {position: relative !important; right: 0; top: 0px;}

}

@media screen and (max-width: 1190px) and (min-width: 768px){
	.hidden-sm-new{display:none !important;}
	.visible-sm-block-new{display:block !important; float:right !important;}
	
	.section-middle-left ul li {
		font-size: 14px !important;
	}
	/*.navbar-right-new{float:left !important; margin-top:7px !important;}*/
}
@media screen and (max-width: 991px) {
	.featured-btn{float:inherit; margin-top:12px; display:block;}
	.home-drp-menu{left:-60px;}
    .banner_text {bottom: 35px;}
    .search {margin-left: 0;}
}
@media screen and (max-width: 990px) {
	.top_skills h4 { font-size: 14px; padding: 10px 5px;}
	.navbar-form { padding-right:0;}
	.projects_tag li a {font-size: 13px;}
	.projects_tag li::after {font-size: 14px; margin-right: -2px; margin-left: 1px; display:inline-block;}
	.featured_projects .col-sm-4-inner h5 {font-size: 18px;}
	.banner_text h1 {font-size: 40px;}
	.banner_text a {font-size: 28px;}
	/*.header_button { margin-top: 0px !important; float: left !important; margin-left:8px;}
	.header_menu .nav-responc {float: right;}*/
	.header_menu .navbar-nav>li a.header_btn {font-size: 13px;}
	/*.search .form-group .form-control {font-size: 14px; width: 85%;}*/
	.copyright { margin-bottom: 0; margin-top: 20px;}
	.social_icon a + a { margin-left: 5px;}
	.footer_link li {font-size: 12px;}
	.footer_link li + li:before {margin-right: 3px; margin-left: 1px;}
	.navbar-brand {padding:0 0 0 10px;}
	.navbar-header {padding-left:0; padding-right:5px;}
	.navbar-right li {margin-right:14px;}
	.deadline {width:90%;}
	.calendar {width:10%;}
	.project-detail-bottom li { vertical-align:text-bottom; padding-bottom:15px; width:33%;}
	.credit-row .credit-cell {width:33.33333333333333%; padding-bottom:10px;}
	.search-right-content .text-right { text-align:left;}
	.edit-profile-main .left-bg { width:250px;}
	.edit-profile-main .white-box { padding-left:250px;}
	.edit-profile-main .edit-form { padding:25px; margin-top:20px;}
	.project-tab li { padding-right:10px;}
	.project-tab li a { font-size:15px;}
	.search { margin-left:2%;}
	/*.banner_text .btn_blue .fa { top:0; font-size:16px;}*/
	.section-middle .top_skills_all .skill-over li { font-size:12px; padding:0 0 4px;}
	.section-middle .top_skills_all .top_skills h4 { font-size:13px; min-height:34px;} 
	.top_skills a:hover .skill-over { padding:10px 8px; bottom:34px;}
}

@media screen and (max-width: 767px) {
		
	.navbar-collapse {background-color: #2e97c0;}
	.header_button {position: static; padding-left:0; margin-left:0;}
	.header_menu .nav-responc {float: none;}
	.top_skills > h2, .how_work >h2, .featured_projects >h2 {font-size: 30px;}
	.top_skills > h2 a, .featured_projects >h2 a {line-height: 32px;}
	.how_work > h2 {margin: 0;}
	.footer .paddingright0 {padding-right: 15px !important;}
	.footer .paddingleft0 {padding-left: 15px !important; }
	.social_icon {text-align: left; }
	.carousel-inner>.item>a>img, .carousel-inner>.item>img {min-height: 230px; min-width: 100%; max-width: 100%;}
	.banner_text h1 {font-size: 23px; margin-bottom: 15px;}
	.banner_text a { font-size: 18px;}
	.banner_text .btn_blue .fa {top:20px; font-size:14px; line-height:0px;}
	.btn_blue .fa {top: 15px;}
	.banner_text { bottom: 10%; }
	.change_respo_position {position: absolute; top: 0; right: 0;}
	.social_icon a {width: 25px; height: 25px; line-height: 21px; font-size: 14px;}
	.search .form-group .form-control {width: 100%; font-size: 16px;}
	.social_img img {width: 10px;}
	.top_skills h4 { font-size: 20px; padding: 15px;}
/*	.white_header_menu .navbar-collapse {background-color: #fff;}*/
	.navbar-right li{margin-right:0px;}
	
.redeem-history-table .hist-tables .thead {display:none;}
.redeem-history-table .hist-tables .table,  .redeem-history-table .hist-tables .tbody,  .redeem-history-table .hist-tables .th,  .redeem-history-table .hist-tables .td,  .redeem-history-table .hist-tables .tr{display:block;}
.redeem-history-table .hist-tables .thead .tr {position:absolute; top:-9999px; left:-9999px;}
.redeem-history-table .hist-tables .tbody{border:#dbdbdb solid 1px; border-bottom:none; margin-bottom:20px;}
.redeem-history-table .hist-tables .td {border:none; border-bottom:1px solid #dbdbdb; position:relative; padding-left:50%; white-space: normal; text-align:left; padding-top:8px; padding-bottom:8px; font-size:13px;}
.redeem-history-table .hist-tables .td:before {position:absolute; top:8px; left:8px; width:45%; padding-right:10px; white-space: nowrap; text-align: left; font-weight:bold; font-size:13px;}
.redeem-history-table .hist-tables .td:before {content:attr(data-title);}
.post-project-step{margin-left:0px;}
.navbar-inner li{padding-top: 10px; padding-bottom: 10px; background-color: #e8e8e8;}
.inner-sup{top: -4px !important;
left: -8px;}
.drpdwn{width:100%; padding-left:10px; padding-right:10px;}
.drpdwn.open::before{display:none;}
.drpdwn a#dLabel{background-color:transparent;}
.dropdown-menu-header{color:#27a7df;}
.dropdown-menu-header a{color:#27a7df;}
.dropdown-menu-footer a{color:#27a7df;}
.user-profile .drpdwn .dropdown-menu{width:100%;}
.top_skills h2, .how_work h2, .featured_projects h2 {font-size:28px;}
.work_inner h3 { font-size:22px;}
.header_menu .nav-responc > li {padding-left:0;}
.navbar-nav {width:100%; text-align:left;}
.header_menu {padding-top:5px; min-height:inherit; padding-bottom:5px;}
.navbar-toggle {margin-top:4px; margin-bottom:0px;}
.top_skills h2 a, .featured_projects h2 a {float:none !important;line-height:normal;}
.header_menu .navbar-brand {padding-left:0;}
.navbar-default .navbar-toggle {margin-right:0; padding-right:0;}
.sticky .search, .sticky .nav-responc {visibility:visible; opacity:1;}
.navbar-header {padding-left:10px; padding-right:10px;}
.chose_user_type, .sign_up {padding-top:40px; padding-bottom:40px;}
.navbar-inner {margin:6px 0 13px;}
.white_header_menu .navbar-collapse {border:none; box-shadow:none;}
.section-middle-right .profileimage {margin:0;}
.post-project-left {padding:20px 10px;}
.header_menu .navbar-nav > li > a {margin-left:0;}
.search-form  {display:none;}
.sort-form {width:100%;}
.sort-form select.form-control {width:100%;}
.search-right-content p.search-disc {padding-right:0;}
.search-tag .tag-btn {margin-bottom:5px;}
.search-right {padding-left:10px; padding-right:10px; padding-bottom:15px;}
.search-cell {padding-left:100px;}
.pagination > li > a, .pagination > li > span {padding:3px 8px;}
.pagination > li {padding-left:6px;}
.filter-toggle {display:inline-block; margin-top:-10px;}
.filter-toggle i {padding:10px; z-index:10; position:relative; font-size:25px; margin-right:-10px; }
.financial-info-table .hist-tables .thead {display:none;}
.financial-info-table .hist-tables .table,  .financial-info-table .hist-tables .tbody,  .financial-info-table .hist-tables .th,  .financial-info-table .hist-tables .td,  .financial-info-table .hist-tables .tr{display:block;}
.financial-info-table .hist-tables .thead .tr {position:absolute; top:-9999px; left:-9999px;}
.financial-info-table .hist-tables .tbody{border:#dbdbdb solid 1px; border-bottom:none; margin-bottom:20px;}
.financial-info-table .hist-tables .td {border:none; border-bottom:1px solid #dbdbdb; position:relative; padding-left:8px; padding-right:8px; white-space: normal; text-align:left; padding-top:8px; padding-bottom:8px; font-size:14px; text-align:center; color:#555; font-weight:400;}
.financial-info-table .hist-tables .td:before {position: relative; width:100%; text-align: center; padding:0 0 5px; display:block; font-weight: normal; border-bottom:1px solid rgba(161, 159, 159, 0.3); margin-bottom:5px; color:#111; font-size:16px;}
.financial-info-table .hist-tables .td:before {content:attr(data-title);}
.financial-row {padding-left:0;}
.financial-row .financial-img {position:relative; margin:0 auto 5px;}
.financial-info-table .hist-tables {border:none;}
.section-heading {padding:15px 0 11px !important}
.section-heading h1, .section-heading h2 {font-size:17px;}
.project-detail-main {padding:25px 0;}
.project-detail h2, .project-detail h1 {font-size:18px;}
.project-detail .detail-row li {padding-right:0; display:block;}
.project-detail-bottom li {width:100%; margin:0; padding:0 0 7px;}
.project-detail-bottom li:last-child {border-bottom:none;}
.project-detail-bottom h4 {margin-top:5px;}
.project-bottom-part .white-box {margin-bottom:20px;}
.project-buttons li {padding-bottom:10px;}
.project-buttons li .btn_blue_new {z-index:999; position:fixed; left:0; bottom:0; width:100%;}
.project-buttons {background:#fff; border:1px solid #d7d7d7; float:left; width:100%;}
.project-detail-top {padding-bottom:20px;}
.footer-space {padding-bottom:20px;}
.navbar-brand > img {width:130px;}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {height:auto;}
.navbar-default .navbar-toggle {margin-top:5px; padding-top:5px;}
.navbar-default .navbar-toggle .icon-bar {height:2px; width:23px;}
.project-detail {padding-right:0;}
.project-detail .price-right {position:relative; width:100%; float:left;}
.project-detail .price-right h2 {float:left;}
.project-detail .price-right .open-label {float:right;}
.project-detail .detail-row li {padding-top:5px;}
.project-detail-bottom li p {float:left; margin:0 0 4px;}
.project-detail-bottom h4 {float:right; margin-top:0;}
.job-cell .search-tag li:first-child {padding-bottom:10px;}
.project-buttons li i {margin-right:4px;}
.membership-plan .membership-box {margin-bottom:20px;}
.right-icons {width:100%; position:relative; text-align:left;}
.right-icons li {display:inline-block; min-height:inherit; padding:0 5px 0 0; vertical-align:middle;}
.my-provider-hired .search-right .search-right-content, .my-provider-invited .search-right .search-right-content {padding-right:0;}
.section-middle ul li {padding:10px 0 9px;}
.edit-profile-main .left-bg {width:100%; position:relative; padding:25px 0;}
.edit-profile-main .white-box {padding-left:0;}
.edit-profile-main .edit-form {max-width:100%; padding:15px; margin-top:15px;}
.reviews-ratings .search-right {padding:20px 15px;}
.account-settings-main .white-box, .change-password-main .white-box {padding:20px 15px;}
.bids-right .bids-right-content {padding-right:0;}
.bid-btns {position:relative; top:0;}
.bids-cell .btn_blue_new {margin:0 5px 0 0;}
.date-time {margin:8px 0;}
.bids-right-content p.search-disc {margin-bottom:10px;}
.bids-right {padding:15px 10px 20px;}
.bids-cell {padding-left:97px;}
.workroom-main .work-title {padding-right:0; font-size:20px;}
.workroom-main .work-title span {position:relative; display:block; padding-top:5px;}
.workroom-main {padding:25px 0;}
.workroom-main .white-box {margin-bottom:15px;}
.credit-row .credit-cell {width:100%; padding-bottom:10px;}
.credit-section .credit-box, .credit-row .form-control { font-size:20px;}
.credit-section .credit-box .btn_blue_new {width:100%;}
.credit-row .credit-blank {margin-top:0;}
.credit-section .credit-box, .credit-row .form-control {height:80px;}
.credit-note {padding:0 0 15px;}
.place-bid-popup .custom_radio {padding-left:0;}
.milestones-cell {padding:15px;} 
.project-tab li {padding:0; display:block; margin:0; border-bottom:1px solid #e5e5e5;}
.project-tab li:last-child {border-bottom:none;}
.project-tab li a {font-size:16px; padding:8px 0;}
.dispute-row {padding:20px 0;}
.status-menu {display:block; font-size:18px; padding:5px 20px; background:#2992bc; color:#fff; cursor:pointer;}
.status-menu .fa {float:right; font-size:23px; margin-top:2px;} 
.project-tab {display:none; padding:0 15px;}
.bid-detail-top {padding-right:20px;}
.bid-detail-top .bid-right {position:relative; top:0; right:20px; text-align:center;}
.bid-detail-cell-margin {margin-left:30px;}   
.section-heading {font-size:17px;}
.created-milestone-top {padding-right:0;}
.created-milestone-top .ml-price {position:relative; top:0;}
.msg-tabs .nav-tabs {margin-bottom:25px;}
.doc-row li.left-attachment {position:relative;}
.job-cell .search-tag li.left-skills {position:relative; display:block;}
.job-cell .search-tag {padding-left:0;}
.job-cell .doc-row {padding-left:0;}
.all-msg-tab {height:200px; margin-bottom:15px;}
.navbar-form .form-group {width:100%;}
.navbar-form {padding-right:15px;}
.profilename a, .profilename a i, .navbar-inner li a i, .white .profilename a, .white .profilename a i {color:#444444;}
.white_header_menu .navbar-nav > li a.header_btn {border-color:#2D95BF;}
.top_skills h2 {margin-top:0;}
.work_inner h3 {margin-top:25px;}
.how_work h2 {margin-bottom:0;}
.how_work {padding:15px 0 25px;}
.top_skills h2, .how_work h2, .featured_projects h2 {font-size:22px;}
.featured_projects h2 {margin-bottom:15px;}
.projects_tag li:after {margin-left:4px; margin-right:4px;}
footer .drpdwn {margin-top:15px;}
.search-right-content h3 {overflow:visible; white-space:normal;}
.search-right-content h3 span.location {display:block; padding-top:5px;}
.search-right-content h3 .fa-map-marker {margin-left:0;}
.search-right-content .search-bottom strong {padding-left:0;}
.featured_projects .row {margin-right:-15px; margin-left:-15px;}
.featured_projects .col-sm-4 { padding-left:15px; padding-right:15px;}
/*body,html{overflow-x:hidden;max-width:100%}*/
.how_work, .featured_projects { overflow:hidden;}
/*.white_header_menu .navbar-form { background:#606060;}*/
.step-left .current-step-round { left:16px;}
#fileupload table td { display:block;}
.dropdown-menu-body ul { height:180px; overflow:auto;}
.section-middle ul li { padding:5px 0 4px;}
.section-middle-right-project { margin-bottom:20px;}
.search { margin-left:-15px;}
.sort-form select.form-control, .sort-form .bootstrap-select.form-control:not([class*="col-"]) { width:100%;}
.white_header_menu .navbar-nav>li>a { color:#fff;}
.search, .nav-responc { border-top:none;}
.white_header_menu .form-control::-moz-placeholder {
color:#fff;
opacity:0.9;
}
.white_header_menu .form-control:-ms-input-placeholder {
color:#fff;
opacity:0.9;
}
.white_header_menu .form-control::-webkit-input-placeholder {
color:#fff;
opacity:0.9;
}
.white_header_menu .search .bootstrap-select > .dropdown-toggle .filter-option, .white_header_menu .search-btn.btn { color:#fff;}
 .white_header_menu .search-btn.btn:hover, .white_header_menu .search-btn.btn:focus { color:#333;}
.white_header_menu .search .bootstrap-select.btn-group .dropdown-toggle .caret { background-image:url("../images-nct/arrow-white.png") !important;}
.search .inner-form-control, .search .inner-page { border-color:#fff;}
.search-result-main { padding:25px 0;}
.white_header_menu .search-btn.btn, .white_header_menu .search-btn.btn:hover, .white_header_menu .search-btn.btn:focus {border-right-color:#fff; border-left-color:#fff;}
.filter-box {padding-top:15px;}
.project-detail-top .tooltip-top {min-width:inherit; display:block;}
.project-detail-top .tooltip_box:after, .project-detail-top .tooltip_box:before {left:94%;}
.font_bold { margin-top:0;}
.job-cell { padding:20px 15px 15px;}
.job-cell h3 {margin-bottom:12px; font-size:16px;}
.status-menu {padding:5px 15px;}
.section-middle {margin-top:20px;}
.section-middle-right {padding:15px 15px 20px; margin-bottom:30px;}
.bootstrap-select.btn-group .dropdown-menu li a {white-space:normal; min-width:260px;}
.edit-profile-main {padding:20px 0;}
.section-middle .top_skills_all .top_skills h4 {padding:10px 11px;}
.clear-filter { position:relative; margin:3px 5px 0 0;}
.staticks li { width:100%;}
.langdrpdwn{padding:0px; }
.langdrpdwn .form-control{margin-top: 10px;}
.langdrpdwn .dropdown-menu{width: 100% !important;}
.white_header_menu .langdrpdwn{padding:0px 10px; }
.white_header_menu .langdrpdwn .dropdown-menu li a{ background: #fff !important; color: #000 ! important; }
.white_header_menu .langdrpdwn .form-control{height: 100%; position:relative; vertical-align: top; margin-bottom: 10px; }
.white_header_menu .navbar-inner li:last-child{margin-top: 0px; border-top: #c0d6df solid 1px;}
.video-gallery a.gall-col{width:50%; }
.membership-content .members-btn a.buy-btn{width:auto; float:none;}
}

@media screen and (max-width: 640px) {
/*.customer-profile-detail img {left:155px;}*/
.deadline {width:86%;}
.calendar {width:14%;}
.customer-profile-list { padding-top:20px;}
.how_work { background:url(../images-nct/hiw-bg-mobile.jpg) no-repeat; background-size:cover;}
}
@media screen and (max-width: 600px) {
.section-middle-right-project{height:auto; overflow:auto;}	
.section-middle-right-project p{width:100%;}
.section-middle-right ul li{display:block; width:100%; text-align:left;}
.section-middle-right ul li button{float:left;}
.sectionwallet-right-border{display:none;}
.section-wallet-left{width:100%; margin-bottom:0px;}
.section-wallet-right{width:auto; margin-top:0; padding-left:0; right:30px; margin-bottom: 20px;}
.round-wallet-available{margin-right:4px;}
.section-middle-wallet{height:auto; overflow:auto; border-bottom:1px solid #cdcbcb; margin-bottom: 20px;}
.section-redeem-header a{position:relative; right:0;}
}
@media screen and (max-width: 568px) {
.customer-profile-detail img{position:inherit;}
.customer-profile-detail{padding-left:0px;}
.customer-profile-list ul li{width:32%; vertical-align:top;}
.list-amount-tit{font-size:15px;}
.project-section-tit .btn{display:block; margin-left:0px; margin-top:10px;}
.notification-desc ul li{padding-bottom:0px;}
.notification-desc ul li span{display:block; float:inherit; margin-left:30px; margin-top:10px;}
.image-pattern{left:0; right:0; margin:0 auto;}
}
@media screen and (max-width: 480px) {
.section-middle-right .profileimage{position:relative; left:0; width:100%;}
.section-middle-right .profileimage img{display:block; margin:auto;}
.section-middle-right .profileimage a{text-align:center;}
.section-middle-right-project{padding-left:0px;}
.section-wallet-button .btn_blue_new{width:100%;}
.section-wallet-button .btn_dark_new{width:100%; margin-top:10px; margin-left:0px;}
.redeem-modal-header h3{font-size:20px;}
.list-amount-tit{font-size:13px;}
.provider-dashboard h3{margin-top:35px;}
.notification-desc ul li p i{position:absolute; left:40px; margin-top:3px;}
.notification-desc ul li p{padding-left:35px; display:inline-block;}
.notification-desc ul li span{margin-top:0px;}
.customer-bid-btns {
    position: absolute;
    right: 0;
    top: auto;
    left: 0px;
    bottom: -5px;
}
.customer-bids-cell {
	height: 280px;
}
.customer-bids-cell .btn_blue_new {
    min-width: auto;
    margin: 0 15px;
    font-size: 14px;
    padding: 5px;
}
.bids-right-content, .customer-bids-right-content{
	    padding: 0 0 27px 0px;
}
.milestones-cell .mt-right{
	position:static;
}
.header_menu .navbar-nav>li>a{
	padding: 9px 20px 10px;
}
textarea.form-control{
	white-space: normal !important;
}

.credit-row {
    margin-left: -2.8em !important;
}
.credit-section{
	overflow: hidden;
}
}
@media screen and (max-width: 360px) {
	.banner_text h1 {font-size: 20px;}
	.top_skills > h2, .how_work > h2, .featured_projects > h2 { font-size: 25px;}
	.work_inner h2 {font-size: 25px;}
	.social_icon a + a {margin-left: 3px;}
	.section-redeem-header h3{font-size:20px;}
	.upload-file{font-size:13px !important;}
	.image-pattern{margin-top:10px;}
	.customer-detail{position:inherit; margin:0 auto;}
	.customer-other-detail{padding-left:0px;}
	.customer-detail img{display:block; margin:auto;}
	.customer-detail p{text-align:center;}
	.customer-other-detail{text-align:center;}
}
@media screen and (max-width: 320px) {

}
@media only screen 
  and (min-device-width: 768px) and (max-device-width: 1024px) 
  and (orientation: landscape) {
	.search .form-group .form-control {font-size: 16px;}  
	.header_menu .navbar-nav>li>a {font-size: 16px;}
	.header_menu .navbar-nav>li>a:hover, .header_menu .navbar-nav>li>a:focus, .header_menu .navbar-nav>li>a:active  {font-size: 16px; background:none !important; border:none !important;}
	.header_menu .nav-responc>li {padding-left:7px; padding-right:7px;}
	.header_btn {margin-top:5px;}
	.top_skills h4 {font-size:18px;}
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
input#txt_search::-webkit-input-placeholder {color: #fff !important; opacity: 0.61;}
}
