.menu_bar{ background: linear-gradient(to top, #373737 0px, #464646 5px) repeat scroll 0 0 #464646; color: #CCCCCC; direction: ltr; font: 400 13px/28px sans-serif; height: 28px; left: 0; min-width: 600px; position: fixed; top: 0; width: 100%; z-index: 99999; background-color:#444}
.left_menu{}
.left_menu ul{display: inline;
margin: 0;
padding: 0;}
.left_menu ul li{
	display: inline-block;
float: left;
height: 28px;
margin: 0 5px;}
.logo_icon{
	background: url("../images/nct_favicon.png") no-repeat scroll center center rgba(0, 0, 0, 0);
display: block;
height: 28px;
width: 20px;
}
.right_nav{ margin-right: 10px;   float: right;}
.menu_bar a{font-weight:normal;color:#CCCCCC;}
html{padding-top:28px;}